.card-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
	background-color: #151E29;
	margin-top: 3rem;
}

.horizontal{
	background-color: white;
}

.card{
	margin: 20px;
	border: 1px solid black;
	box-shadow: 0 19px 38px black, 0 15px 12px black;
}
