.fa-lg{
	color: black;
}

.navbar-container{
	border: 1px solid white;
}

.tab{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
	width: 10em;
	padding: 1em;
	border: 1px solid white;
}

.tab:hover{
	background-color: #007bff;
	cursor: pointer;
}

