@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body {
  font-family: 'Josefin Sans', cursive;
}

.title-infoboxes-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #151E29;
}

.infoboxes-footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 0em;
}

.app-container-search{
  height: 100vh;
  background-color: #151E29;
}

.app-container-home{
  height: 100vh;
  background-color: #151E29;
  color: white;
}

.random-page{
    height: 100vh;
    background-color: #151E29;
}

.random-container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #151E29;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.title{
  color: white;
}

.title-text{
  font-size: 4rem;
  color: white;
}

.search-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  background-color: #151E29;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
